<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>flex布局</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
		<style>
			.rows{
				display: flex;
				justify-content: center;
			}
			.list .rows:first-child{
				padding-top: 40px;
			}
			.list .rows:nth-child(even){
				flex-direction: row-reverse;
			}
			.cols{
				display: inline-block;
				width: 40px;
				text-align: center;
			}
		</style>
	</head>
	<body>
		<div id="app">
			<div>
				请输入行：<input type="number" v-model="rows"/>	
			</div>
			<div>
				请输入列：<input type="number" v-model="cols"/>	
			</div>
			<button @click="comfrim()">确定</button>
			<div class="list">
				<div class="rows" v-for="i in arr">
					<span class="cols" v-for="j in i">
						{{j}}
					</span>
					
				</div>
			</div>
			
		</div>
		
		<script>
			var vm = new Vue({
				el: '#app',
				data:{
					rows:'',
					cols:'',
					arr:[]
				},
				methods:{
					comfrim:function(){
						var num=1;
						for(let i=0;i<this.rows;i++){
							var obj=[]; 
							for(let j=0;j<this.cols;j++){
								obj[j]=num;
								num++;
							}
//							this.arr[i]=obj;
							Vue.set(vm.arr, i, obj)
						}
						console.log("arrrrrrrrrr",this.arr)
					}
				},
			})
		</script>
	</body>
</html>
