<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>VUE 下拉列表 </title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
	</head>
	<body>
		<div id="app">
			<select v-model="selected"  @change="selects">
				<!--<option selected="selected">-请选择-</option>-->
				<option v-for="option in options" v-bind:value="option.value">
					{{option.text}}
				</option>
			</select>
			
			<input type="text" v-model="toggle"/>
			<button @click="btn()">更新</button>
		</div>
		
		<div id="components-demo">
		  <button-counter></button-counter>
		  <button-counter></button-counter>
		  <button-counter></button-counter>
		</div>
	</body>
	<script type="text/javascript">
		new Vue({
			el:'#app',
			data:{
				selected:'A',
				options:[
					{'text':'美团外卖',"value":'A'},
					{'text':'饿了么',"value":'B'},
					{'text':'百度外卖',"value":'C'}
				],
				toggle:'yes'
			},
			methods:{
				selects:function(data){
					console.log("data---->",data.target.value)
				},
				btn:function(){
					var aa = Math.floor(Math.random()*10+1)
					this.toggle = aa;
				}
			}
		})
		
		// 定义一个名为 button-counter 的新组件
		Vue.component('button-counter', {
		  data: function () {
		    return {
		      count: 0
		    }
		  },
		  template: '<button v-on:click="count++">你点击了 {{ count }} 次.</button>'
		})
		new Vue({ el: '#components-demo' })
	</script>
</html>
