<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>VUE 组件</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
		<style>
			html,body{
				width: 100%;height:100%;
				padding:0;
				margin: 0;
				text-align: center;
			}
			#app{
				padding-top:50px;
				margin:auto;
			}
		</style>
	</head>
	<body>
		<div id='app'>
			
			<blog-post title="My journey with Vue"></blog-post>
			<blog-post title="Blogging with Vue"></blog-post>
			<blog-post title="Why Vue is so fun"></blog-post>
			<blog-post
			  v-for="post in posts"
			  v-bind:key="post.id"
			  v-bind:title="post.title">
			</blog-post>
			<div :style="{ fontSize: postFontSize + 'em' }">
			    <blog-post
			      v-for="post in posts"
			      v-bind:key="post.id"
			      v-bind:post="post">
			    </blog-post>
			</div>
		</div>
		
		<div id="components-demo">
		  <button-counter></button-counter>
		  <button-counter></button-counter>
		  <button-counter></button-counter>
		</div>
	</body>
	<script type="text/javascript">
		// 定义一个名为 button-counter 的新组件
		Vue.component('button-counter', {
		  data: function () {
		    return {
		      count: 0
		    }
		  },
		  template: '<button v-on:click="count++">你点击了 {{ count }} 次.</button>'
		})
		new Vue({ el: '#components-demo' })
		
		Vue.component('blog-post',{
			props:['post'],
			template:'<div class="blog-post"><h3>{{ post.title }}</h3><button>Enlarge text</button></div>'
		})
		new Vue({
		  el: '#app',
		  data: {
		    posts: [
		      { id: 1, title: 'My journey with Vue111' },
		      { id: 2, title: 'Blogging with Vue111' },
		      { id: 3, title: 'Why Vue is so fun111' }
		    ],
		    postFontSize:1
		  }
		})
	</script>
</html>
