<!DOCTYPE html>
<html ng-app="demoApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>demo</title>
  <link rel="stylesheet" href="demo.css">
</head>
<body>
  <div ng-controller="demoCtrl">
    <div>
      <ul>
      		<!--因为这里CurrentPage要与当前页数num对应所以默认是1  但是数组下标是从0开始  所以每次currentPage每次-1保证数据显示正常-->
        <li ng-repeat="sentences in demoLists[0].name | paging:(currentPage-1)*listsPerPage | limitTo:listsPerPage">{{sentences}}</li>  <!-- ng-repeat 动态生成模拟的数据 -->
      </ul>
    </div>
    <div>
      <a class="step prevLink" ng-click="setPage(currentPage-1)"><</a>
      <a ng-class="{true:'currentStep',false:'step'}[num==currentPage]" ng-repeat="num in pageNum" ng-click="setPage(num)">{{num}}</a>  <!-- ng-repeat 动态生成页码 -->
      <a class="step nextLink" ng-click="setPage(currentPage+1)">></a>
      <form>
      	<input type="text" class="input" ng-model="nums"/>&nbsp;共{{pages}}页&nbsp;<button class="btn1" ng-click="setPage(nums)">Go</button>
      </form>
    </div>
  </div>
  
  <script src="https://cdn.bootcss.com/angular.js/1.4.6/angular.min.js"></script>
  <script src="demo.js"></script>
</body>
</html>